

.temp{
  color:black;
  margin:35px;
  font-weight: 900;
  font-size: 30px;
}
.lon , .lat {
  font-weight: 600;

}
h2{
text-align:center;
}
img{
margin-left: 850px;
}
.datemp {
  text-align: center;
}

.footer{
  font-family: sans-serif;
  font-size: x-small;
  font-weight: 900;
  text-align: right;
}
